site
public
src
*.pdf
!docs/img/cover.pdf
*.xml
*.ps
*.tar.gz
*.tar
*.tgz
*.zip
*~
*.o
*.so
\#*\#
*.DS_Store
*__pycache__*
node_modules
package-lock.json
_build
+_build/.gitignore
*.#*
docs/reframe-tests-master*
docs/_static/reframe-tests-master*
.vscode
.gitignore
*.swp
