beautifulsoup4
css_html_js_minify
ipykernel
jupyter_client
lxml
matplotlib
nbconvert
nbsphinx
notebook
numpy>=1.16
numpydoc
pandas
python-slugify[unidecode]
recommonmark
sphinx-copybutton
sphinx>=2.0
sphinx_markdown_tables
sphinx-immaterial>=0.12.6
Sphinx-Substitution-Extensions
sphinxcontrib-serializinghtml
sphinxcontrib.htmlhelp
jieba
sphinx-prompt
pydantic
