variables:
    GIT_STRATEGY: clone

stages:
  - deploy

deploy checks codes to shared reframe directory:
  stage: deploy
  tags:
    - shell.login3.pi.sjtu.edu.cn
  only:
    - master
    - merge_request
  before_script:
    - git clone https://git.hpc.sjtu.edu.cn/devops/reframe.git
  script:
    - mv sjtuhpc-checks reframe/
    - sudo rsync -avr --progress reframe /lustre/share/tmp/